{% extends 'gestion/base.html' %}

{% block content %}
<h2>Crear vehiculo</h2>
<form method="POST" class="post-form" action = "{% url 'registrar_vehiculo' %}">
    {% csrf_token %}
    <div>
        {{form_cliente}}
    </div>
    <div>
        {{ form }}
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>


    </div>
    <button type="submit" class="save btn btn-default">Save</button>
</form>
{% endblock %}