{% extends 'gestion/base.html' %}

{% block content %}

    <form method="POST" class="post-form" action = "{% url 'consultar_ingresos' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="modelo">Cedula</label>
          <input type="text" class="form-control" name ="documento"  id="documento">         
        </div>
        <div class="form-group">
          <label for="dtp_input1" >Fecha desde</label>
          <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy" data-link-field="dtp_input1">
              <input class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          </div>
          <input type="hidden" id="dtp_input1"  name="fecha_desde" value="" /><br/>
        </div>
        <div class="form-group">
          <label for="dtp_input2" >Fecha hasta</label>
          <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy " data-link-field="dtp_input2">
              <input class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
          </div>
          <input type="hidden" id="dtp_input2"  name="fecha_hasta" value="" /><br/>
        </div>
        <button type="submit" class="save btn btn-success">Consultar</button>
    </form> 

    <br>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Placa</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Celda</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for ingreso in ingresos %}
    <tr>
      <td>{{ingreso.vehiculo}}</td>
      <td>{{ingreso.vehiculo.cliente.documento}}</td>
      <td>{{ingreso.vehiculo.cliente}}</td>
      <td>{{ingreso.celda}}</td>
      <td>{{ingreso.fecha}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  

</body>
<script>

  $('.form_datetime').datetimepicker({
    language:  'es',
    weekStart: 0,
    todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 1,
    showMeridian: 1
    });

</script>
{% endblock content %}