{% extends 'gestion/base.html' %}
{% load static %}
{% block content %}

<h2>Ingreso</h2>
  <form method="POST" class="post-form" action = "{% url 'consultar_vehiculo' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="modelo">Cedula</label>
      <input type="text" class="form-control" name ="documento"  id="documento">
     
    </div>
    <div class="form-group">
      <label for="modelo">Placa</label>
      <input type="text" class="form-control" name ="placa"  id="placa">
    </div>
    <button type="submit" class="save btn btn-primary">Consultar</button>
  </form> 
  <br>
  <div class="panel panel-default">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">cliente</th>
          <th scope="col">cilindraje</th>
          <th scope="col">tiempos</th>
          <th scope="col">placa</th>
          <th scope="col">modelo</th>
          <th scope="col">puertas</th>
          <th scope="col">foto</th>
          <th scope="col">tipo</th>
        </tr>
      </thead>
      <tbody>
        {% for vehiculo in vehiculos %}
        <tr>
          <td>{{vehiculo.cliente}}</td>
          <td>{{vehiculo.cilindraje}}</td>
          <td>{{vehiculo.tiempos}}</td>
          <td>{{vehiculo.placa}}</td>
          <td>{{vehiculo.modelo}}</td>
          <td>{{vehiculo.puertas}}</td>
          <td>{% if vehiculo.foto %} 
               <a href="{{vehiculo.foto.url}}" >Foto</a>
              {%else%}
                Imagen no disponible
              {%endif%}
          </td>
          <td>{{vehiculo.tipo}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
  <div class="panel panel-default">
      <div class="panel-body">
    
        <form form method="POST" class="post-form" action = "{% url 'registrar_ingreso' %}">
          
          {% csrf_token %}
          <div class="form-group">
              <label for="tipo">Vehiculo</label>
              <select class="form-control" id="vehiculo" name="vehiculo">
                  {% for val in vehiculos %}
                      <option value ="{{val.id}}">{{val.placa}}</option>
                  {% endfor %}
                
            </select>
          </div>
          {% if registro %}
          <div class="form-group">
            <label for="tipo">Celdas</label>
            <input type="text" class="form-control" name ="celda_registro"  id="celda_registro" value="{{registro.celda}}">
          </div>
          <div class="form-group">
            <label for="tipo">Fecha ingreso</label>
            <input type="text" class="form-control" name ="fecha_registro"  id="fecha_registro" value="{{registro.fecha}}">
          </div>
          {% else %}
          <div class="form-group">
            <label for="tipo">Celdas</label>
            <select class="form-control" id="celda" name="celda">
              {% for val in celdas %}
                  <option value ="{{val.id}}">{{val.numero}}</option>
              {% endfor %}
              
            </select>
          </div>
          
          <div class="form-group">
            <label for="dtp_input1" >Fecha y hora de ingreso</label>
            <div class="input-group date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
              <input class="form-control" size="16" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
              <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
            </div>
            <input type="hidden" id="dtp_input1"  name="fecha" value="" /><br/>
          </div>
          
          <button type="submit" class="save btn btn-success">Guardar</button>
          {% endif %}  
        </div>
        
        </form> 
          
      </div>
  </div>
</div>

<script>

  $('.form_datetime').datetimepicker({
    language:  'es',
    weekStart: 1,
    todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
    showMeridian: 1
    });

</script>
{% endblock %}

